html,body,.application{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: 'Montserrat', sans-serif;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul{
    width: 100% ;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 100px;
    color: #222;
}
ul > li{
    width: 140px;
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.brand-name{
    position: absolute;
    bottom: 200px;
    left: 0px;

    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 60px;
}