/*Fullsize Application*/
html,
body,
.application{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f6f6f6;

    font-family: 'Open Sans', sans-serif;
}
.form-wrapper{
    width: 400px;
    min-height: 200px;

    background-color: #fff;
}   

.form-title{
    width: 100%;
    height: 40px;
    line-height: 40px;

    font-size: 1.5em;
    text-align: center;
}

.form.content{
    height: 160px;
    width: 100%;
}
.form-content > input{
    margin: 5px;
    float: left;
    width: 80%;
    margin-left: 10%;
}